@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  /* box-sizing: border-box; */
  overflow: hidden;
}
body {
  background-image: url("assets/mainBackground.jpg");
  background-size: 100% 100%;
  background-repeat: repeat-y;
  /* background-repeat: repeat-x; */
}
.main {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
.background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.heading {
  height: 5%;
  width: 100%;
  font-family: "Black Ops One", cursive;
  position: absolute;
  top: 10px;
  text-shadow: 0px 0px 10px white;
  text-align: center;
  z-index: 1000;
}
.mainBackground {
  z-index: 0;
  height: 100%;
  width: inherit;
}
/* .back-img {
  position: absolute;
  z-index: 1;
  height: 415px;
  width: 815px;
  top: 55px;
  left: 100px;
} */
/* .back-img img {
  border-radius: 1.4%;
  height: 563px;
  width: 1200px;
  opacity: 0.9;
} */
.neon {
  height: 480px;
  width: 1000px;
  background: linear-gradient(black, #743ad5, black, #d53a9d, black);
  opacity: 0.7;
  border-radius: 3%;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 15%;
}
.center {
  height: 415px;
  width: 950px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  left: 45px;
}
.info {
  height: 400px;
  width: 415px;
  background-color: black;
  opacity: 0.9;
  color: white;
  font-family: "Black Ops One", cursive;
  display: grid;
  grid-template: repeat(3, 33.3333%) / repeat(4, 25%);
  position: relative;
  z-index: 2;
}
.score {
  grid-area: 1/1/2/5;
  position: relative;
  text-align: center;
  top: 35px;
}
.toggle {
  width: 280px;
  height: 100px;
  background-color: transparent;
  color: white;
  font-family: "Black Ops One", cursive;
  cursor: pointer;
  font-size: medium;
  grid-area: 2/1/3/5;
  position: relative;
  left: 75px;
  top: 10px;
}
.hide {
  display: none;
}

.hScore {
  grid-area: 3/1/4/5;
  position: relative;
  text-align: center;
  top: 50px;
}
.box {
  height: 400px;
  width: 400px;
  padding: 2px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}
.box div {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  background-color: rgb(206, 242, 242);
  opacity: 0.7;
  border: 0.02px solid white;
}

.gameOver {
  height: 100%;
  width: 100%;
  font-family: "Black Ops One", cursive;
  text-align: center;
  background-color: rgb(116, 240, 240);
  opacity: 0.4;
  color: red;
  position: relative;
  box-sizing: border-box;
  padding-top: 140px;
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  body {
    background-size: 100% 40%;
    background-repeat: repeat-y;
  }
  .mainBackground {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
  .neon {
    height: 90%;
    width: 100%;
    top: 8%;
    left: 0px;
  }
  .center {
    height: 100%;
    width: 92%;
    flex-direction: column;
    justify-content: space-around;

    top: 0;
    left: 14px;
  }
  .info {
    height: 40%;
    width: 100%;
  }
  .toggle {
    grid-area: 2/1/3/4;
    left: 40px;
    top: 10px;
  }
  .hScore {
    top: 25px;
  }
}
